body {
    font-family: 'Barlow', Arial, sans-serif;
}
.Title-sc-1vu2k7w{
    display: none !important;
}


.SubTitle-sc-z77oyt{
    display: none !important;
}

.bGVBjQ{
    display: none !important;
}
